<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="background">
    </div>
    <div class="container">
      <div class="row">
        <div class="two column offset-by-five">
      <h1 >ToDo</h1>
      </div>
    </div>

      <form id="new-item">
        <input type="text" id="sub-fld" placeholder="subject">
        <input type="text" id="note-fld" placeholder="notes">
        <input type="text" id="aut-fld" placeholder="author">
        <button>Submit</button>
      </form>

      <div id="listed">
      </div>

    </div>
  </body>
</html>
